{
  "presets": ["es2015", "es2016", "es2017", "stage-0"],
  "plugins": [
    ["babel-plugin-root-import", {
      "rootPathSuffix": "src"
    }],
    ["babel-root-import", {
      "rootPathSuffix": "src"
    }]
  ]
}