{
  "extends": "airbnb",
  "rules": {
    "no-underscore-dangle": [2, { "allow": ["_id", "_json"] }],
    "no-unused-vars": [2, { "argsIgnorePattern": "^_" }]
  },
  "settings": {
    "import/resolver": {
      "babel-root-import": {}
    }
  }
}